        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container {
            width: 80%;
            margin: auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        h1, p {
            text-align: center;
        }
        .profile-pic {
          width: 30%;
          display:block;
          margin-left: auto;
          margin-right: auto;
        }
        .social-logo {
          width: 30%;
          margin-left: 0;
          margin-right: 0;
          display: flex;
          justify-content: center;
          margin-left: auto;
          margin-right: auto;
          box-shadow:  5px 5px 10px 0 rgba(255, 148, 0, 0.2);
          margin-top: -1px;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
        } 
        .social-icon {
          width: 20px;
          padding-bottom: 20px;
          margin-left: auto;
          padding-top: 20px;
          margin-right: auto;
          padding-left: 20px;
          padding-right: 20px;
        }
        .social-link{
          
        }
        .social-icon:hover {
          cursor: pointer;
          opacity: 0.6;
        }

        p {
            font-size: 18px;
            line-height: 1.6;
        }

        .footer, .header {
          display: flex;
          flex-direction: row;
          justify-content: center;
          text-align: center;
          background-image: linear-gradient(to bottom right, black, red);
          height: 120px;
          margin-bottom: 0;
          align-items: center;
        }

        .footer-text, .header-text {
          font-size: 50px;
          font-style: italic;
          font-family: "Dancing Script", cursive;
          font-weight: 700;
          margin-right: 40px;
        }
        .footer-image {
          margin-top: 5px;
          margin-bottom:5px;
          width: 100px;
          height: 100px; 
        }